@import "~bootstrap/scss/bootstrap";

body {
    //background-color: black;
}

h1,
h2,
h3 {
    color: white;
}

.btn {
    &.remove {
        @include button-variant(pink, black);
    }

    &.add {
        @include button-variant(green, black);
    }
}

.big-list {
    background-color: aqua;

    .element {
        background-color: chocolate;
    }
}
.done {
    text-decoration: line-through;
}