@import "~bootstrap/scss/bootstrap";

body {
    background-color: black;
}

h1,
h2,
h3 {
    color: white;
}

.btn {
    &.remove {
        @include button-variant(pink, black);
    }

    &.swap {
        @include button-variant(pink, black);
    }
    


    &.add {
        @include button-variant(green, black);
    }
}

.big-list {
    .element {
        border-color: black;
        background-color: rgb(207, 160, 127);
        &.undone {
            font-weight: bolder;
        }
        &.done {
            background-color: rgb(160, 127, 207);
        }
        &.swapping {
            font-style: italic;
            font-weight: normal;
        }

    }
}

span {
    &.inactive {
        text-decoration: line-through;
    }
}
